.form h1 {
  font-size: 4rem; 
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}
.form form {
  padding: 4rem 8rem;
  background-color: #fff;
  border-radius: 3rem;
}
@media only screen and (max-width: 28em) {
  .form p{
    font-size: 0.5rem;
  }
  .form h6{
    font-size: 1rem;
  }
  .form button{
    color: #000;
  }
}