.form h1 {
  font-size: 4rem; 
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}
.form form {
  padding: 4rem 8rem;
  background-color: #fff;
  border-radius: 3rem;
}